		*{font-family: 微软雅黑,Microsoft Yahei UI,sans-serif;}
		.offcanvas {background:#0b6cb8;min-width:50vw;}
		nav {background:#0b6cb8;margin:0;height:60px;box-shadow:2px 2px 10px grey}
		li.nav-item {margin:0;}
		.nav-link {color:white;padding:0px 10px;line-height:400%;font-size:15px;vertical-align: top;min-width:50px;cursor:pointer;}
				.dropdown-item {color:white;padding:0 10px;line-height:330%;font-size:15px;vertical-align: top;min-width:50px;}

		.nav-link:hover, .dropdown-item:hover {background: #0a5894 ;color:white;}
		.dropdown-menu {border:none;border-radius:0;background:#0b6cb8;padding:0;margin:0;min-width:100px;}
		.touxiang {margin:0;margin-left:10%;padding:0;line-height:100%;vertical-align: top;}
				.biaoti {font-size:20px;margin-left:20px;margin-right:50px;padding:0;line-height:100%;vertical-align: top;font-weight:bold}

		li.dropdown:hover ul.dropdown-menu {display: block;}
		body {background:;}
		::selection {background:rgba(0,166,173,0.7);color:white;} 

		.carousel-caption {margin-bottom:20vh;}
		.carousel-caption h1 {font-weight:bold;}


		div.sybwb {position: relative;margin:0px 10px;width:100%;border:1px solid #e0e0e0;padding:0;}

		
		.qbwz_bt {width:100%;padding:0px 20px;font-size:17px;color:#0b6cb8;line-height:280%;background:#fff;border-bottom:2px solid #0b6cb8;}
		.qbwz_bt2 {width:100%;padding:0px 20px;font-size:17px;color:#fff;line-height:280%;background:#0b6cb8;}
		.qbwz_zw {width:100%;padding:20px;background:#fff;}
		.wzzy {padding:5px;cursor:pointer;position:relative;}
		.wzzy:hover {background:#e0e0e0;}
		wzzyrq {position:absolute;right:20px;font-size:14px;color:grey;font-weight: normal;}
		wzzybt {color:black;font-size:17px;}
		wzzyzy {color:grey;font-size: 14px;font-weight: normal;}

		@media (max-width: 961px) {
			.yqlj {display: none;}
		}


		div.v10 {margin:10px 10%;padding:0;width:80%;}
		div.v6 {margin:10px 6%;padding:0;width:88%;}

		.articlezw {border:1px solid #e0e0e0;}
		.articlezw p.bt {text-align: center;font-size:25px;color:black;margin:35px 0px;}
		.articlezw p.zz {text-align: center;font-size:13px;color:grey;background:#f0f0f0;margin:0;padding:10px 0px;line-height:100%;}
		.articlezw .zwen {padding:40px 20px;}
		.articlezw .zwen h2 {font-size:18px;font-weight:normal;color:#272727;font-family:仿宋,宋体,sans-serif;line-height:200%;}