::selection{background-color:#33a3dc;color:#ffffff;}

*{margin:0;
    padding:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}


.dropbtn {
    background-color:	#272727;
    color: white;
    padding: 35px 22px;
    font-size: 19px;
    border: none;
    cursor: pointer;
    font-family:bar;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color:#FFFFFF;
    box-shadow:1px 1px 20px #ADADAD;
}

.dropdown-content a {
    padding-left: 22px;
    padding-bottom:25px;
    padding-right:22px;
    padding-top:25px;
    text-decoration: none;
    display:block;
    font-size:19px;
    font-family:bar;
    color:#000000;
    text-align:left;
}

.dropdown-content a:hover {
    color:#000000;
    background-color:#d0d0d0;
    text-decoration:none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
color:#0080FF;

}

.bug {
    background-color:#0080FF;
    border: none;
    color: white;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin: 4px 2px;
    font-family:title;
    cursor:pointer;
}

.bug:hover {
background-color:#84C1FF;
}

a {color:#0080ff; text-decoration:none; }   
a:hover {color:#145b7d;text-decoration:underline;}
p {line-height:180%;}

@font-face
{
    font-family: bar;
    src: url(https://williamnice.github.io/bar.otf);
}

@font-face
{
	font-family: title;
	src: url(https://williamnice.github.io/main.otf);
}

@font-face
{
	font-family: main;
	src: url(https://williamnice.github.io/main.ttf);
}
