* {font-family:'微軟正黑體','Microsoft JhengHei UI','Microsoft JhengHei',Sans-serif;transition: 0.2s;}
nav.navbar {margin:0;padding:0;position: absolute;top:0;width:100%;z-index: 9999;}
li.nav-item {padding:0px 20px;margin:0;}
a.nav-link {line-height:330%;margin:0;padding:0;font-size:18px;color:white;opacity:0.7;}
a.navbar-brand {margin:0;padding:0;margin-left:10%;font-size:30px;line-height:100%;}

li.nav-item:hover a.nav-link {color:white;opacity: 1.0;}
li.active a.nav-link {opacity: 1.0;color: #51B3E1;
}
div.indextop {width:100%;height:120vh;background-image: url('https://1.s140i.faiscm.com/2/AIwBCAAQAhgAIPL3rN0FKKyy87EHMIAPOIAK.jpg');background-attachment: fixed;}

div.pagetwo {width:100%;height:25vh;background-image: url('https://1.s140i.faiscm.com/2/AIwBCAAQAhgAIM7H59UFKND_17kEMIAPOLoH.jpg');background-attachment: fixed;background-size: 100% 100%;}
h2 {font-weight: bold;color: black;}

div.navleft {background-image: linear-gradient(to bottom, #272727, #003D79	);}
div.navleft p{margin:0;padding: 0;font-size:30px;line-height:400%;margin-left:30px;color:white;font-weight: bold;}
div.navleft span {font-size:16px;margin-left:10px;font-weight: normal;}
div.navlistcommon {background:#f0f0f0;margin: 0;padding:0;padding-left:30px;font-size:18px;line-height:300%;transition: none;}
div.navlistcommon a {color:#272727;text-decoration:none;display: block;transition: none;}
div.navlistcommon:hover a {color:white;transition: none;}
div.navlistcommon:hover {background:#33a3dc;transition: none;}

div.navlistactive {background:#2292C6;margin: 0;padding:0;padding-left:30px;font-size:18px;line-height:300%;}
div.navlistactive a {color:white;text-decoration:none;display: block;}

a {color:#33a3dc;text-decoration: none;}
a:hover {text-decoration: underline;color:#272727;}

div.indextop h1{font-weight: bold;font-size:50px;color:white;text-align: center;margin:0;padding-top:55vh;}
div.foot {text-align:center;padding:20px 0px;}
div.pagetop {background: #343a40;height: 70px;margin: 0;padding: 0;}

div.col-sm-8 p { color:#3c3c3c; line-height: 230%;font-size: 17px;}

td, tr, tbody, thead, table {transition:none;}
div.e-changelanguage-div {position:fixed;right:10%;top: 17px;color:white;}
a.e-changelanguage-a {font-size:15px;padding:0px 10px;line-height:250%;background:#33a3dc;}
a.e-changelanguage-a:hover {background:#2468a2 ;}
a.e-changelanguage-item {padding:0px 10px;font-size: 15px;line-height: 250%;min-width: 0px;transition: none;}
a.e-changelanguage-item:hover {background-color:grey;color:white;transition: none;}
div.e-changelanguage-ddm {min-width:0px;margin:0;padding:0px;border-radius:0;}

svg{transition: none;}

/*PC端*/
@media (min-width: 768.1px) {
        ::selection {background:#40bbe1;color:white;}

  li.nav-item {margin:0 10px;}
div.indextop {background-size:100% auto;}
div.row {margin:30px 0px;padding: 0;}
div.col-sm-4 {padding-left:10%;padding-right:30px;}
div.col-sm-8 {padding-right:10%;padding-left:30px;min-height:90vh;}\
}

/*移动端*/
@media (max-width: 768px) {
*{
  -webkit-user-select: none; /* 针对Chrome和Safari */
  -moz-user-select: none; /* 针对Firefox */
  -ms-user-select: none; /* 针对Internet Explorer */
  user-select: none; /* 标准语法 */
}
li.nav-item {width:100%;}
div.indextop {background-size:auto 100%;}
nav.navbar {background:#343a40;}
div.row {margin:20px 5%;}
div.navlistcommon {display:none; }
div.navlistactive {display:none; }
div.col-sm-8 {min-height:60vh;}
a.navbar-brand img {height:55px;}
div.pagetop {height: 55px;}
a.nav-link {line-height:280%;text-indent:10%;}
li.nav-item {padding:0;}
div.e-changelanguage-div {position:absolute;}

}

/*Hover.css*/
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background:#33a3dc;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


div.foot {background-color: #343a40;color:white;margin:0;line-height:100%;font-size:15px;}
div.foot span{margin:0;padding:0;opacity: 0.7;}


